<routes>
  <vType accel="1.0" decel="5.0" id="Car" length="5.0" maxSpeed="50.0" sigma="0.5"/>
  <vType accel="1.0" decel="5.0" id="Bus" length="10.0" maxSpeed="40.0" sigma="0.5"/>
  
  <route id="route0" edges="e1 e2 e3 e4"/>
  
  <vehicle id="veh0" type="Car" route="route0" depart="0"/>
  <vehicle id="veh1" type="Bus" route="route0" depart="10"/>
</routes>
